@import '../../styles/variables';

.project-wrapper{
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        &{
            margin-bottom: 0;
        }
    }

    .image-container{
        position: relative;
        overflow: hidden;
        border-radius: 2rem;
        
        .overlay{
            position: absolute;
            top:-15rem;
            left:-15rem;
            // transform: translate(-50%, -50%);
            transform: scale(0);
            // transform-origin: center;
            height: 400px;
            width: 400px;
            border-radius: 50%;
            background-color: rgba(61, 61, 61, 0.801);
            transition: 800ms;
        }
        
        &:hover{
            .overlay{
                transform: scale(4);
            }

            .btn-group{
                scale: 1;
            }
        }
        
        .project-image{
            display: block;
            width: 100%;
            height: 350px;
            border-radius: 2rem;
            object-fit: cover;
            background-position: center;
        }

        .btn-group{
            display: flex;
            gap: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transform-origin: left top;
            scale: 0;
            z-index: 5;
            transition: all 500ms;
        }
    }

    h3{
        margin: 1.5rem 0 1rem 0;
    }

    .technology > p{
        color: $subtext-color;
        margin-right: 2rem;
        display: inline-block;
    }
}