@import "../../styles/variables";

.secondary-btn{
    background-color: transparent;
    font-weight: bold;
    color: white;
    padding: 1em 2em;
    border: 1px solid $secondary-color;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background-color: $secondary-color;
        top:0;
        left: 0;
        z-index: -1;
        transition: 500ms;
    }

    &:hover{
        cursor: pointer;
        color: black;
        &::after{
            width: 100%;
        }
        
    }
}