@import "../styles/variables";

/*================ Hero section style ======================*/

.hero-section {
  color: white;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  .container {
    width: 1200px;
    margin-inline: auto;
    position: relative;

    .about-container {
        padding: 5em 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $subtext-color;

        @media (min-width: 1024px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row-reverse;
          text-align: center;
          row-gap: 2rem;
        }

      .about-desc {
        text-align: center;
        @media(min-width: 1024px){
          text-align: left;
        }
        p{
          margin-bottom: 2rem;
          
        }
      }

     .image-container{
      text-align: center;

      .profile-image{
        max-width: 350px;
        width: 60vw;
        @media (min-width: 1024px) {
          max-width: 500px;
        }
      }
     }

     .btn-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        @media(min-width: 340px){
          justify-content: center;
          flex-direction: row;
        }

        @media(min-width: 1024px){
          justify-content: start;
        }
     }

    }
  }
}

/*================ End of hero section style ======================*/